{% extends "task/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $.extend(main.helper, {
            FIELD_ACCESS_TYPE_DENY: {{ ModelFieldsAccessTypeMixin.FIELD_ACCESS_TYPE_DENY }},
            FIELD_ACCESS_TYPE_VIEW: {{ ModelFieldsAccessTypeMixin.FIELD_ACCESS_TYPE_VIEW }},
            FIELD_ACCESS_TYPE_FULL: {{ ModelFieldsAccessTypeMixin.FIELD_ACCESS_TYPE_FULL }},
        });
    </script>

{% endblock %}

{% block content %}
  <div class="tasks" ng-app="task" ng-controller="tasksList as c">
    {% verbatim %}
        <button
            class="btn-wait-reaction-tasks btn btn-primary {{ active_tasks_list == 'wait_reaction' && 'active' || '' }}"
            ng-click="c.showTasksList('wait_reaction')"
        >Ожидают реакции <span class="badge">{{ wait_reaction_count }}</span></button>

        <button
            class="btn-my-in-work-tasks btn btn-primary {{ active_tasks_list == 'my_in_work' && 'active' || '' }}"
            ng-click="c.showTasksList('my_in_work')"
        >Мои в работе <span class="badge">{{ my_in_work_count }}</span></button>

        <button
            class="btn-in-queue-tasks btn btn-primary {{ active_tasks_list == 'in_queue' && 'active' || '' }}"
            ng-click="c.showTasksList('in_queue')"
        >В очереди <span class="badge">{{ in_queue_count }}</span></button>

        <button
            class="btn-all-tasks btn btn-primary {{ active_tasks_list == 'all' && 'active' || '' }}"
            ng-click="c.showTasksList('all')"
        >Все <span class="badge">{{ all_count }}</span></button>
    {% endverbatim %}

    <button
        class="btn-add-task btn btn-default"
        ng-click="c.showAddTask()"
    >Добавить задачу</button>
    {% include "task/task_add.html" %}

    <table class="tasks-list col-md-6">
      <thead>
        <tr>
          <th>Название</th>
          <th>Статус</th>
          <th>Исполнитель</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="tasks__list">
        {% verbatim %}
            <tr 
              id="{{ 'tasks-list__item-' + o.id }}" 
              class="tasks-list__item {{ chosen_task.id == o.id && 'active' || '' }}" 
              ng-repeat="o in tasks"
            >
                <td ng-click="c.showDetailTask(o.id)"><span class="task-priority task-priority_{{ o.priority.value }}"></span> {{ o.title }}</td>
                <td ng-click="c.showDetailTask(o.id)">{{ o.status.title }}</td>
                <td ng-click="c.showDetailTask(o.id)">{{ o.performer.title }}</td>
            </tr>
        {% endverbatim %}
      </tbody>
    </table>

    <div class="col-md-6">
        {% include "task/task_detail.html" %}
    </div>
</div> {# .tasks #}
{% endblock %}
