{% load helper_field %}

<form class="tasks__task-detail" name="taskDetailForm" ng-show="chosen_task">
    <div class="task-detail__actions">
        <button class="btn btn-default" 
            ng-click="c.closeDetailTask()" 
        >X</button>

        <button class="btn btn-default" 
            ng-click="chosen_task.view_mode = 'edit'" 
            ng-show="chosen_task.view_mode == 'view'"
        >Редактировать</button>

        <button class="btn btn-success" 
            ng-click="c.saveTask(chosen_task)" 
            ng-disabled="taskDetailForm.$pristine"
            ng-show="chosen_task.view_mode == 'edit'"
        >Сохранить</button>
    {% verbatim %}
        <div 
            class="actions-container" ng-repeat="(act_name, act_title) in chosen_task.actions"
            ng-if="chosen_task.view_mode == 'view'"
        >
            <button class="btn-action btn-action_{{act_name}} btn btn-success" ng-click="c.runAction(chosen_task.id, act_name)">{{act_title}}</button>
        </div>
    {% endverbatim %}
    </div>

    {% verbatim %}
    <h2>{{ chosen_task.title }}</h2>
    {% endverbatim %}

    {# <div> #}
    {#     <label>{{ models.Task.fields_verbose_names.desc }}</label> #}
    {#     <span>{{ chosen_task.desc }}</span> #}
    {# </div> #}

    {# ------- desc ------- #}
    <div 
        class="field-edit" 
        ng-if="chosen_task.desc.access_type == main.helper.FIELD_ACCESS_TYPE_FULL 
        && chosen_task.view_mode == 'edit'"
    >
        {% verbatim %}
        <label>{{ models.Task.fields_verbose_names.desc }}</label>
        <textarea ng-model="chosen_task.desc.value"></textarea>
        {% endverbatim %}
    </div>
    <div 
        class="field-view" 
        ng-if="chosen_task.desc.access_type != main.helper.FIELD_ACCESS_TYPE_DENY 
        && chosen_task.view_mode == 'view'"
    >
        {% verbatim %}
        <label>{{ models.Task.fields_verbose_names.desc }}</label>
        <span>{{ chosen_task.desc.value }}</span>
        {% endverbatim %}
    </div>
    {# ------- / desc ------- #}

    {% choices_field_view_and_edit_mode widget="widget_radio" js_obj_name="chosen_task" model_name="Task" field_name="priority" %}
    {% choices_field_view_and_edit_mode widget="widget_radio" js_obj_name="chosen_task" model_name="Task" field_name="importance" %}
    {% choices_field_view_and_edit_mode widget="widget_radio" js_obj_name="chosen_task" model_name="Task" field_name="performer" %}
    {% choices_field_view_and_edit_mode widget="widget_radio" js_obj_name="chosen_task" model_name="Task" field_name="lead_programmer" %}
    {% choices_field_view_and_edit_mode widget="widget_radio" js_obj_name="chosen_task" model_name="Task" field_name="tester" %}
    {% choices_field_view_and_edit_mode widget="widget_radio" js_obj_name="chosen_task" model_name="Task" field_name="manager" %}
    {% choices_field_view_and_edit_mode widget="widget_radio" js_obj_name="chosen_task" model_name="Task" field_name="client" %}

</form>
