{% extends "task/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $.extend(main.helper, {
            FIELD_ACCESS_TYPE_DENY: {{ ModelFieldsAccessTypeMixin.FIELD_ACCESS_TYPE_DENY }},
            FIELD_ACCESS_TYPE_VIEW: {{ ModelFieldsAccessTypeMixin.FIELD_ACCESS_TYPE_VIEW }},
            FIELD_ACCESS_TYPE_FULL: {{ ModelFieldsAccessTypeMixin.FIELD_ACCESS_TYPE_FULL }},
        });
    </script>

{% endblock %}

{% block content %}
  <div class="tasks" ng-app="task" ng-controller="tasksList as c">

    <button
        class="btn-add-task btn btn-default"
        ng-click="c.showAddTask()"
    >Добавить задачу</button>
    {% include "task/task_add.html" %}

    <table class="tasks-list col-md-6">
      <thead>
        <tr>
          <th>Название</th>
          <th>Статус</th>
          <th>Исполнитель</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="tasks__list">
        {% verbatim %}
            <tr 
              id="{{ 'tasks-list__item-' + m.id }}" 
              class="tasks-list__item {{ chosen_task.id == m.id && 'active' || '' }}" 
              ng-repeat="m in tasks"
            >
                <td ng-click="c.showDetailTask(m.id)"><span class="task-priority task-priority_{{ m.priority.value }}"></span> {{ m.title }}</td>
                <td ng-click="c.showDetailTask(m.id)">{{ m.status.title }}</td>
                <td ng-click="c.showDetailTask(m.id)">{{ m.performer.title }}</td>
            </tr>
        {% endverbatim %}
      </tbody>
    </table>

    <div class="col-md-6">
        {% include "task/task_detail.html" %}
    </div>
</div> {# .tasks #}
{% endblock %}
