
<form
    class="tasks__task-add"
    name="taskAddForm"
    ng-show="addTaskFormVisible"
    style="border: 2px solid yellow; padding: 10px;"
>
    {# ------- project ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_project/add_mode.html" with obj_name="new_task" %}
    </div>
    {# ------- / project ------- #}

    {% verbatim %}
    <div class="field-edit">
        <label>{{ models.Task.fields_verbose_names.title }}</label>
        <span>
            <input type="text" name="title" ng-model="new_task.title"/>
        </span>
    </div>
    {% endverbatim %}

    <div class="field-edit">
        <label>{% templatetag openvariable %} models.Task.fields_verbose_names.desc {% templatetag closevariable %}</label>
        <span>
            <textarea name="desc" ng-model="new_task.desc"></textarea>
        </span>
    </div>

    {# ------- priority ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_priority/add_mode.html" with obj_name="new_task" %}
    </div>
    {# ------- / priority ------- #}

    {# ------- performer ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_user/add_mode.html" with obj_name="new_task" field_name="performer" %}
    </div>
    {# ------- / performer ------- #}

    {# ------- lead_programmer ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_user/add_mode.html" with obj_name="new_task" field_name="lead_programmer" %}
    </div>
    {# ------- / lead_programmer ------- #}

    {# ------- tester ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_user/add_mode.html" with obj_name="new_task" field_name="tester" %}
    </div>
    {# ------- / tester ------- #}

    {# ------- manager ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_user/add_mode.html" with obj_name="new_task" field_name="manager" %}
    </div>
    {# ------- / manager ------- #}

    {# ------- client ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_user/add_mode.html" with obj_name="new_task" field_name="client" %}
    </div>
    {# ------- / client ------- #}

    <div class="task-detail__actions">
        <button class="btn btn-success" 
            ng-click="c.addTask(new_task)" 
        >Сохранить</button>
    </div>
</form>
