
<form
    class="tasks__task-add"
    name="taskAddForm"
    ng-show="addTaskFormVisible"
    style="border: 2px solid yellow; padding: 10px;"
>
    <div class="task-detail__actions">
        <button class="btn btn-success" 
            ng-click="c.addTask(new_task)" 
        >Сохранить</button>
    </div>

    {# ------- project ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_project/add_mode.html" with obj_name="new_task" %}
    </div>
    {# ------- / project ------- #}

    {% verbatim %}
    <div class="field-edit">
        <label>{{ models.Task.fields_verbose_names.title }}</label>
        <span>
            <input type="text" name="title" ng-model="new_task.title"/>
        </span>
    </div>
    {% endverbatim %}

    {% verbatim %}
    <div class="field-edit">
        <label>{{ models.Task.fields_verbose_names.desc }}</label>
        <span>
            <textarea name="desc" ng-model="new_task.desc"></textarea>
        </span>
    </div>
    {% endverbatim %}

    {# ------- priority ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_priority/add_mode.html" with obj_name="new_task" %}
    </div>
    {# ------- / priority ------- #}

    {# ------- status ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_status/add_mode.html" with obj_name="new_task" %}
    </div>
    {# ------- / status ------- #}

    {# ------- performer ------- #}
    <div class="field-edit">
        {% include "task/task_detail/field_performer/add_mode.html" with obj_name="new_task" %}
    </div>
    {# ------- / performer ------- #}
</form>
