
<form class="tasks__task-detail" name="taskDetailForm" ng-show="chosen_task">
    <div class="task-detail__actions">
        <button class="btn btn-default" 
            ng-click="chosen_task.view_mode = 'edit'" 
            ng-show="chosen_task.view_mode == 'view'"
        >Редактировать</button>

        <button class="btn btn-success" 
            ng-click="c.saveTask(chosen_task)" 
            ng-disabled="taskDetailForm.$pristine"
            ng-show="chosen_task.view_mode == 'edit'"
        >Сохранить</button>

    {% verbatim %}
        <div 
            class="actions-container" ng-repeat="(act_name, act_title) in chosen_task.actions"
            ng-if="chosen_task.view_mode == 'view'"
        >
            <button class="btn-action btn-action_{{act_name}} btn btn-success" ng-click="c.runAction(chosen_task.id, act_name)">{{act_title}}</button>
        </div>
    {% endverbatim %}
    </div>

    {% verbatim %}
    <h2>{{ chosen_task.title }}</h2>

    <div>
        <label>{{ models.Task.fields_verbose_names.desc }}</label>
        <span>{{ chosen_task.desc }}</span>
    </div>
    {% endverbatim %}

    {# ------- priority ------- #}
    <div 
        class="field-edit" 
        ng-if="chosen_task.priority.access_type == main.helper.FIELD_ACCESS_TYPE_FULL && chosen_task.view_mode == 'edit'"
    >
        {% include "task/task_detail/field_priority/edit_mode.html" with obj_name="chosen_task" %}
    </div>
    <div 
        class="field-view" 
        ng-if="chosen_task.priority.access_type != main.helper.FIELD_ACCESS_TYPE_DENY && chosen_task.view_mode == 'view'"
    >
        {% include "task/task_detail/field_priority/view_mode.html" %}
    </div>
    {# ------- / priority ------- #}

    {# ------- status ------- #}
    {# <div  #}
    {#     class="field-edit"  #}
    {#     ng-if="chosen_task.status.access_type == main.helper.FIELD_ACCESS_TYPE_FULL && chosen_task.view_mode == 'edit'" #}
    {# > #}
    {#     {% include "task/task_detail/field_status/edit_mode.html" with obj_name="chosen_task" %} #}
    {# </div> #}
    {# <div  #}
    {#     class="field-view"  #}
    {#     ng-if="chosen_task.status.access_type != main.helper.FIELD_ACCESS_TYPE_DENY && chosen_task.view_mode == 'view'" #}
    {# > #}
    {#     {% include "task/task_detail/field_status/view_mode.html" %} #}
    {# </div> #}
    {# ------- / status ------- #}

    {# ------- performer ------- #}
    <div 
        class="field-edit" 
        ng-if="chosen_task.performer.access_type == main.helper.FIELD_ACCESS_TYPE_FULL && chosen_task.view_mode == 'edit'"
    >
        {% include "task/task_detail/field_user/edit_mode.html" with obj_name="chosen_task" field_name="performer" %}
    </div>
    <div 
        class="field-view" 
        ng-if="chosen_task.performer.access_type != main.helper.FIELD_ACCESS_TYPE_DENY && chosen_task.view_mode == 'view'"
    >
        {% include "task/task_detail/field_user/view_mode.html" with field_name="performer" %}
    </div>
    {# ------- / performer ------- #}

    {# ------- lead_programmer ------- #}
    <div 
        class="field-edit" 
        ng-if="chosen_task.lead_programmer.access_type == main.helper.FIELD_ACCESS_TYPE_FULL && chosen_task.view_mode == 'edit'"
    >
        {% include "task/task_detail/field_user/edit_mode.html" with obj_name="chosen_task" field_name="lead_programmer" %}
    </div>
    <div 
        class="field-view" 
        ng-if="chosen_task.lead_programmer.access_type != main.helper.FIELD_ACCESS_TYPE_DENY 
        && chosen_task.view_mode == 'view'
        && chosen_task.lead_programmer.value"
    >
        {% include "task/task_detail/field_user/view_mode.html" with field_name="lead_programmer" %}
    </div>
    {# ------- / lead_programmer ------- #}

    {# ------- tester ------- #}
    <div 
        class="field-edit" 
        ng-if="chosen_task.tester.access_type == main.helper.FIELD_ACCESS_TYPE_FULL && chosen_task.view_mode == 'edit'"
    >
        {% include "task/task_detail/field_user/edit_mode.html" with obj_name="chosen_task" field_name="tester" %}
    </div>
    <div 
        class="field-view" 
        ng-if="chosen_task.tester.access_type != main.helper.FIELD_ACCESS_TYPE_DENY
        && chosen_task.view_mode == 'view'
        && chosen_task.tester.value"
    >
        {% include "task/task_detail/field_user/view_mode.html" with field_name="tester" %}
    </div>
    {# ------- / tester ------- #}

    {# ------- manager ------- #}
    <div 
        class="field-edit" 
        ng-if="chosen_task.manager.access_type == main.helper.FIELD_ACCESS_TYPE_FULL && chosen_task.view_mode == 'edit'"
    >
        {% include "task/task_detail/field_user/edit_mode.html" with obj_name="chosen_task" field_name="manager" %}
    </div>
    <div 
        class="field-view" 
        ng-if="chosen_task.manager.access_type != main.helper.FIELD_ACCESS_TYPE_DENY
        && chosen_task.view_mode == 'view'
        && chosen_task.manager.value"
    >
        {% include "task/task_detail/field_user/view_mode.html" with field_name="manager" %}
    </div>
    {# ------- / manager ------- #}

    {# ------- client ------- #}
    <div 
        class="field-edit" 
        ng-if="chosen_task.client.access_type == main.helper.FIELD_ACCESS_TYPE_FULL && chosen_task.view_mode == 'edit'"
    >
        {% include "task/task_detail/field_user/edit_mode.html" with obj_name="chosen_task" field_name="client" %}
    </div>
    <div 
        class="field-view" 
        ng-if="chosen_task.client.access_type != main.helper.FIELD_ACCESS_TYPE_DENY
        && chosen_task.view_mode == 'view'
        && chosen_task.client.value"
    >
        {% include "task/task_detail/field_user/view_mode.html" with field_name="client" %}
    </div>
    {# ------- / client ------- #}
</form>
