{% load helper_field %}

<form
    class="tasks__task-add"
    name="taskAddForm"
    ng-show="addTaskFormVisible"
    style="border: 2px solid yellow; padding: 10px;"
>
    <div class="container">
        <h2 class="pull-left">Новая задача</h2>
        <button
            class="btn btn-default pull-right"
            ng-click="addTaskFormVisible=false"
        >Х</button>
    </div>
        
    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="project" choices="models.Task.fields_choices.project" %}
    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="release" choices="models.Task.fields_choices.release" %}

    {# TODO все-таки надо отдельный тег на каждый тип поля #}
    {# {% render_field "text" "input" "add" js_obj_name="new_task" model_name="Task" field_name="title" %} #}
    {% verbatim %}
    <div class="field-edit">
        <label>{{ models.Task.fields_verbose_names.title }}</label>
        <span>
            <input type="text" name="title" ng-model="new_task.title"/>
        </span>
    </div>
    {% endverbatim %}

    <div class="field-edit">
        <label>{% templatetag openvariable %} models.Task.fields_verbose_names.desc {% templatetag closevariable %}</label>
        <span>
            <textarea name="desc" ng-model="new_task.desc"></textarea>
        </span>
    </div>

    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="priority" choices="models.Task.fields_choices.priority" %}
    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="importance" choices="models.Task.fields_choices.importance" %}
    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="performer" choices="models.Task.fields_choices.performer" %}
    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="lead_programmer" choices="models.Task.fields_choices.lead_programmer" %}
    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="tester" choices="models.Task.fields_choices.tester" %}
    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="manager" choices="models.Task.fields_choices.manager" %}
    {% choices_field_add_mode widget="widget_select" js_obj_name="new_task" model_name="Task" field_name="client" choices="models.Task.fields_choices.client" %}

    <div class="task-detail__actions">
        <button class="btn btn-success" 
            ng-click="c.addTask(new_task)" 
        >Сохранить</button>
    </div>
</form>
