{% extends "page.html" %}

{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/project.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="angular" ng-app="project">
        <div class="angular" ng-controller="projects">
            <table class="projects-list col-md-12">

              <thead>
                <tr>
                  <th rowspan="2">Название</th>
                  <th rowspan="2">Статус</th>
                  <th colspan="3">Следующий релиз</th>
                </tr>
                <tr>
                  <th>Дата окончания релиза</th>
                  <th>Открытых/просроченных задач</th>
                  <th>Всего задач</th>
                </tr>
              </thead>

              <tbody class="projects__list">
                {% verbatim %}
                    <tr 
                      id="{{ 'projects-list__item-' + o.id }}" 
                      class="projects-list__item" 
                      ng-repeat="o in projects"
                      ng-click="c.showDetailProject(o.id)"
                    >
                        <td>{{ o.title }}</td>
                        <td>{{ o.release_status.title }}</td>
                        <td>{{  }}</td>
                        <td>{{  }}</td>
                        <td>{{  }}</td>
                    </tr>
                {% endverbatim %}
              </tbody>

            </table>
        </div>
    </div>
{% endblock %}
