{% extends "page.html" %}

{% load staticfiles %}
{% load url from future %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/project.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="angular" ng-app="project">
        <div class="angular" ng-controller="projectsList">
            <table class="projects-list col-md-12">

              <thead>
                <tr>
                  <th rowspan="2">Название</th>
                  <th rowspan="2">Статус</th>
                  <th colspan="3">Следующий релиз</th>
                </tr>
                <tr>
                  <th>Название релиза</th>
                  <th>Дата релиза</th>
                  <th>Открытых/просроченных задач</th>
                  <th>Всего задач</th>
                </tr>
              </thead>

              <tbody class="projects__list">
                    {% verbatim %}
                        <tr 
                            id="{{ 'projects-list__item-' + p.id }}" 
                          class="projects-list__item" 
                          ng-repeat="p in projects"
                        >
                        <td><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></td>
                                <td>{{ p.status }}</td>
                                <td>{{ p.next_release.title }}</td>
                                <td>{{ p.next_release.date }}</td>
                                <td>{{  }}</td>
                                <td>{{  }}</td>
                        </tr>
                    {% endverbatim %}
              </tbody>

            </table>
        </div>
    </div>
{% endblock %}
